div .leaflet-popup-content-wrapper{
    width: 650px;
-webkit-tap-highlight-color: transparent;
font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
cursor: left;
padding: 1px;
text-align: center;
border-radius: 12px;
background: white;
color: #333;
box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

html body div#map.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom div.leaflet-pane.leaflet-map-pane div.leaflet-pane.leaflet-popup-pane div.leaflet-popup.leaflet-zoom-animated div.leaflet-popup-content-wrapper div.leaflet-popup-content{
    width: 650px;
}

.leaflet-popup {bottom: 1px !important;}
/* I moved the "tip" to the right location, but don't succeed in making it visible. */
.leaflet-popup-tip-container {
      bottom: 0px !important;
      overflow: auto important!;
 }
.leaflet-popup-tip {
      box-shadow: none !important;
      background-clip: none !important;
 }
